[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
django = "*"
python-decouple = "*"
djangorestframework = "*"
django-filter = "*"
dj-database-url = "*"
django-extensions = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
